{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<style>
    .abc{ line-height:20px; text-align:left}
    .p-a p{ margin-top:10px; margin-bottom:10px}
    .p-b p{ margin-top:60px; margin-bottom:60px}
</style>

<div class="abc p-a">
    <p>
        <b>
            {% if post.link %}
                <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
            {% else %}
                <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
            {% endif %}
        </b>
        {{ post.authors | markdownify }}
        <i>{{ post.venue | markdownify}}</i> <br>
    </p>
</div>
